---
import MainLayout from '@/layouts/MainLayout.astro';

const pageTitle = 'Welcome to Questlog';
const pageDescription = 'Your Social Network for Gaming';
---

<MainLayout title={pageTitle} description={pageDescription}>
  <main class="max-w-3xl mx-auto py-24 px-6 text-center">
    <h1 class="text-4xl font-extrabold mb-4">Welcome to Questlog</h1>
    <p class="text-lg text-muted-foreground mb-8">Your Social Network for Gaming</p>
  </main>
</MainLayout>
